body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("/pexels-ivan-samkov-4238524\ \(1\).jpg");
    background-repeat: no-repeat;
    max-height: 100vh;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.file-input {
    display: none;
}
.file-label {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.file-label:hover {
    background-color: #0056b3;
}


input, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

.task-buttons {
    display: flex;
    gap: 10px;
}
